
// INDEX SECTION
	#section-0{

		#mainLogo{
			position: absolute;
			width: 662px;
			height: 384px;
			margin: auto;
			top: 0; bottom: 0; right: 0; left: 232px;

			img{
				position: absolute;
				width: 100%;
			}
		}

		#startExploring{
			position: absolute;
			width: 50px;
			height: 80px;
			margin: auto;
			left: 0; right: 0;
			bottom: 50px;
			cursor: pointer;
			@include transitions(0.4s);
			@include opacity(0.3);

			&:hover{
				@include opacity(1);
			}

			.startText{
				position: relative;
				width: 100%;
				height: 25px;
				line-height: 25px;
				font-size: 11.5pt;
				letter-spacing: 2px;
				text-align: center;
				margin-bottom: 17px;
				color: $black;
			}

			.startGo{
				position: relative;
				width: 100%;
				height: 40px;

				i{
					position: absolute;
					margin: auto;
					left: 0; right: 0; top: 0; bottom: 0;
				}
			}
		}
	}
// END INDEX SECTION