
// WELCOME SECTION
	#section-1{
		#receiverLetter{
			height: 490px;
			
			.introTitle{
				width: 900px;
				margin-bottom: 35px;
			}


			.introParagraph{
				margin-bottom: 46px;
			}

			#welcomePara-1{
				height: 170px;

				.black{
					color: $black;
				}
			}
			#welcomePara-2{
				height: 53px;
			}


			.introQuotes{
				margin-bottom: 40px;
			}

			#welcomeQuote-1{
				width: 175px;
			}
		}
	}
// END WELCOME SECTION