// Desktop 1920x1080 Resize
@media screen and (max-width: 1849px){
	#fullWrapper{
		#mbrtWrapper{
			// Right Bars Navigator
			#rightBarsNav{
				height: 375px;
			}

			// Contact Section
			.contactSection{
				.contactLetter{
					height: 390px;
					.topBox{
						height: 22.4%;

						.contactTitle{
							h1{
								font-size: 62px;
							}
						}
					}

					.bottomBox{
						.contactColumns{
							.indexRow{
								height: 14%;

								h5{
									font-size: 33.2px;
								}
							}

							.firstRow{
								.innerHeadRow{
									font-size: 24px;
								}

								.innerFootRow{
									font-size: 19.1px;
								}
							}

							.secondRow{
								font-size: 19.1px;
							}
						}
					}
				}
			}

			// Intro Section
			.introSection{
				.introLetter{
					width: 1260px;

					.introTitle{
						h1{

							font-size: 67px;
						}
					}

					.introParagraph{
						p{
							font-size: 24px;
						}
					}

					.introQuotes{
						height: 53px;

						h2{
							font-size: 36.6px;
						}
					}
				}
			}

			// Welcome Section
			#section-1{
				#receiverLetter{
					height: 470px;

					.introTitle{
						width: 860px;
						margin-bottom: 26px;
					}

					.introParagraph{
						margin-bottom: 44.3px;
					}

					#welcomePara-1{
						height: 170px;
					}

					.introQuotes{
						margin-bottom: 38.5px;
					}

					#welcomeQuote-1{
						width: 165px;

					}

					
				}
			}

			// Services Section
			#section-2{
				#servicesLetter{
					height: 470px;

					.introTitle{
						margin-bottom: 28.9px;
					}

					.introParagraph{
						height: 63px;
						margin-bottom: 57.8px;
					}

					.introQuotes{
						margin-bottom: 40.4px;
					}

					#servicesList{
						th{
							font-size: 23.6px;
						}

						#column-1{
							.maskTitle{
								width: 110px;

								.maskedText{
									width: 110px;
								}
							}
						}
						#column-2{
							.maskTitle{
								width: 100px;

								.maskedText{
									width: 100px;
								}
							}
						}
						#column-3{
							.maskTitle{
								width: 280px;

								.maskedText{
									width: 280px;
								}
							}
						}
						#column-4{
							.maskTitle{
								width: 85px;

								.maskedText{
									width: 85px;
								}
							}
						}
					}
				}
			}

			// Carousel Sections
			.carouselSection{
				.innerCarousel{
					height: 810px;
					
					.carouselImages{
						.projectsWrapper{
							.projectPhoto{
								.projectData{
									.innerCenteredBox{
										left: 13%;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

// Desktop 1920x1080 Resize Intermediate Fix
@media screen and (max-width: 1750px){
	#fullWrapper{
		#mbrtWrapper{
			// Global Right Navigator
			#rightBarsNav{
				height: 350px;

				.barsWrapper{
					.navBar{
						.navName{
							font-size: 0.6em;
						}
					}
				}
			}

			// Contact Section
			.contactSection{
				.contactLetter{
					height: 360px;
					.topBox{
						.contactTitle{
							h1{
								font-size: 58px;
							}
						}
					}

					.bottomBox{
						.contactColumns{
							.indexRow{
								height: 13.5%;

								h5{
									font-size: 31.4px;
								}
							}

							.firstRow{
								.innerHeadRow{
									font-size: 22.7px;
								}

								.innerFootRow{
									font-size: 18.1px;
								}
							}

							.secondRow{
								font-size: 18.1px;
							}
						}
					}
				}
			}

			// Intro Section
			.introSection{
				.introLetter{
					width: 1190px;

					.introTitle{
						height: 73px;

						h1{
							font-size: 63.4px;
						}
					}

					.introParagraph{
						p{
							font-size: 22.7px;
						}
					}

					.introQuotes{
						height: 50px;

						h2{
							font-size: 34.6px;
						}
					}
				}
			}

			// Welcome Section
			#section-1{
				#receiverLetter{
					height: 460px;

					.introTitle{
						width: 820px;
						margin-bottom: 24.8px;

					}

					.introParagraph{
						margin-bottom: 41.9px;
					}

					#welcomePara-1{
						height: 165px;
					}

					.introQuotes{
						margin-bottom: 36.4px;
					}

					#welcomeQuote-1{
						width: 160px;

					}

					#welcomeQuote-2{
						width: 600px;

					}
				}
			}

			// Services Section
			#section-2{
				#servicesLetter{
					height: 450px;

					.introTitle{
						margin-bottom: 27.3px;
					}

					.introParagraph{
						height: 60px;
						margin-bottom: 49.2px;
					}

					.introQuotes{
						margin-bottom: 38.2px;
					}

					#servicesList{
						th{
							font-size: 22.3px;
						}

						
						#column-3{
							.maskTitle{
								width: 260px;

								.maskedText{
									width: 260px;
								}
							}
						}
					}
				}
			}

			// Carousel Sections
			.carouselSection{
				.innerCarousel{
					height: 770px;

					.carouselImages{
						.projectsWrapper{
							.projectPhoto{
								.projectData{
									.innerCenteredBox{
										height: 34.5%;
										left: 11%;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

// Desktop 1920x1080 Resize
@media screen and (max-width: 1649px){
	#fullWrapper{
		#mbrtWrapper{
			// Right Bars Navigator
			#rightBarsNav{
				height: 305px;
			}

			// Vertical Carousel Section
			.carouselVertSection{
				.innerCarousel{
					.carouselTitle{
						h3{
							width: 93%;
							height: 48px;
							font-size: 29.6px;
						}
					}

					.dataWrapper{
						.projectData{
							.innerCenteredBox{
								height: 18%;

								h5{
									font-size: 20px;
								}

								.shiftData{
									height: 6.9%;
									font-size: 17px;
								}
							}
						}
					}
				}
			}

			// Contact Section
			.contactSection{
				.contactLetter{
					height: 320px;
					.topBox{
						height: 22.2%;
						
						.contactTitle{
							h1{
								font-size: 50px;
							}
						}

						.contactButton{
							a{
								font-size: 18px;
							}
						}
					}

					.bottomBox{
						.contactColumns{
							.indexRow{
								height: 13.5%;

								h5{
									font-size: 29.6px;
								}
							}

							.firstRow{
								.innerHeadRow{
									font-size: 21.5px;
								}

								.innerFootRow{
									font-size: 17.1px;
								}
							}

							.secondRow{
								font-size: 17.1px;
							}
						}
					}
				}
			}

			// Intro Section
			.introSection{
				.introLetter{
					width: 1120px;

					.introTitle{
						height: 70px;

						h1{
							font-size: 59.8px;
						}
					}

					.introParagraph{
						p{
							font-size: 21.5px;
						}
					}

					.introQuotes{
						height: 48px;

						h2{
							font-size: 32.6px;
						}
					}
				}
			}

			// Welcome Section
			#section-1{
				#receiverLetter{
					height: 430px;

					.introTitle{
						width: 780px;
						margin-bottom: 23.2px;
					}

					.introParagraph{
						margin-bottom: 39.5px;
					}

					#welcomePara-1{
						height: 155px;
					}

					#welcomePara-2{
						height: 52px;
					}

					.introQuotes{
						margin-bottom: 34.3px;
					}

					#welcomeQuote-1{
						width: 150px;
					}
				}
			}

			// Services Section
			#section-2{
				#servicesLetter{
					height: 430px;

					.introTitle{
						margin-bottom: 25.7px;
					}

					.introParagraph{
						height: 55px;
						margin-bottom: 44.7px;
					}

					.introQuotes{
						margin-bottom: 36px;
					}

					#servicesList{
						th{
							font-size: 18.9px;
						}

						#column-1{
							.maskTitle{
								width: 95px;

								.maskedText{
									width: 95px;
								}
							}
						}
						#column-2{
							.maskTitle{
								width: 85px;

								.maskedText{
									width: 85px;
								}
							}
						}
						#column-3{
							.maskTitle{
								width: 225px;

								.maskedText{
									width: 225px;
								}
							}
						}
						#column-4{
							.maskTitle{
								width: 70px;

								.maskedText{
									width: 70px;
								}
							}
						}
					}
				}
			}

			// Carousel Sections
			.carouselSection{
				.innerCarousel{
					height: 730px;
					
					.carouselImages{
						.projectsWrapper{
							.projectPhoto{
								.projectData{
									.innerCenteredBox{
										left: 9%;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

// Desktop 1920x1080 Resize Intermediate Fix
@media screen and (max-width: 1400px){
	#fullWrapper{
		#mbrtWrapper{
			// Global Right Navigator
			#rightBarsNav{
				height: 280px;

				.barsWrapper{
					.navBar{
						.navName{
							font-size: 0.45em;
						}
					}
				}
			}

			// Contact Section
			.contactSection{
				.contactLetter{
					height: 285px;
					.topBox{
						.contactTitle{
							h1{
								font-size: 45px;
							}
						}
					}

					.bottomBox{
						.contactColumns{
							.indexRow{
								height: 11%;

								h5{
									font-size: 25.1px;
								}
							}

							.firstRow{
								.innerHeadRow{
									font-size: 18.2px;
								}

								.innerFootRow{
									font-size: 14.5px;
								}
							}

							.secondRow{
								font-size: 14.5px;
							}
						}
					}
				}
			}

			// Intro Section
			.introSection{
				.introLetter{
					width: 950px;

					.introTitle{
						h1{
							font-size: 50.7px;
						}
					}

					.introParagraph{
						p{
							font-size: 18.2px;
						}
					}

					.introQuotes{
						height: 42px;

						h2{
							font-size: 27.7px;
						}
					}
				}
			}

			// Welcome Section
			#section-1{
				#receiverLetter{
					height: 375px;

					.introTitle{
						width: 680px;
						margin-bottom: 19.6px;
					}

					.introParagraph{
						margin-bottom: 33.5px;
					}

					#welcomePara-1{
						height: 130px;
					}

					#welcomePara-2{
						height: 45px;
					}

					.introQuotes{
						margin-bottom: 29.1px;
					}

					#welcomeQuote-1{
						width: 130px;
					}
				}
			}

			// Services Section
			#section-2{
				#servicesLetter{
					height: 390px;

					.introTitle{
						margin-bottom: 21.8px;
					}

					.introParagraph{
						height: 45px;
						margin-bottom: 33.4px;
					}

					.introQuotes{
						margin-bottom: 30.6px;
					}

					#servicesList{
						th{
							font-size: 17.3px;
						}

						td{
							font-size: 11px;
						}

						#column-3{
							.maskTitle{
								width: 205px;

								.maskedText{
									width: 205px;
								}
							}
						}
						
					}
				}
			}

			// Carousel Sections
			.carouselSection{
				.innerCarousel{
					height: 620px;
					
					.carouselImages{
						.projectsWrapper{
							.projectPhoto{
								.projectData{
									.innerCenteredBox{
										height: 38.5%;
										left: 7%;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

// Laptop and Tablet Min Size
@media screen and (max-width: 1279px){
	#fullWrapper{
		#mbrtWrapper{

			// Cover Section
			.coverSection{
				.nameSection{
					height: 65px;
					line-height: 4em;
					h1{
						font-size: 45px;
					}
				}
			}

			// Carousel Section
			.carouselSection{
				.innerCarousel{
					height: 570px;

					.carouselTitle{
						font-size: 23.8px;
					}

					.carouselImages{
						.projectsWrapper{
							.projectPhoto{
								.projectData{
									.innerCenteredBox{
										height: 31.8%;
										left: 5%;

										h5{
											font-size: 16.9px;
										}

										p{
											height: 6.5%;
											font-size: 14px;
										}
									}

									.visitWebsite{
										width: 105px;
										height: 23px;
										line-height: 1.4em;
										bottom: 15%;

										a{
											font-size: 10.5px;
										}
									}
								}
							}
						}
					}

					.projectsBars{
						height: 2px;

						ul{
							.singleBar{
								margin-left: 3px;
								margin-right: 3px;
							}
						}

						.fiveBarsList{
							li{
								width: calc(20% - 6px);
							}
						}

						.twoBarsList{
							li{
								width: calc(50% - 6px);
							}
						}

						.sixBarsList{
							li{
								width: calc(16.66% - 6px);
							}
						}

						.threeBarsList{
							li{
								width: calc(33.33% - 6px);
							}
						}

						.eightBarsList{
							li{
								width: calc(12.5% - 6px);
							}
						}

						.fourBarsList{
							li{
								width: calc(25% - 6px);
							}
						}
					}
				}
			}

			// Vertical Carousel Section
			.carouselVertSection{
				.innerCarousel{
					.carouselTitle{
						h3{
							width: 100%;
							height: 34px;
							font-size: 22px;
						}
					}

					.dataWrapper{
						.projectData{
							.innerCenteredBox{
								height: 12.5%;

								h5{
									font-size: 16.9px;
								}

								.shiftData{
									height: 6.4%;
									font-size: 14px;
								}
							}
						}
					}

					.projectsBars{
						height: 2px;

						ul{
							.singleBar{
								margin-left: 3px;
								margin-right: 3px;
							}
						}

						.sixBarsList{
							li{
								width: calc(16.66% - 6px);
							}
						}
					}
				}
			}

			// Contact Section
			.contactSection{
				.contactLetter{
					height: 240px;
					.topBox{
						height: 20.5%;

						.contactTitle{
							h1{
								font-size: 36px;
							}
						}

						.contactButton{
							a{
								font-size: 13px;
							}
						}
					}

					.bottomBox{
						.contactColumns{
							.indexRow{
								height: 10%;
								
								h5{
									font-size: 23px;
								}
							}

							.firstRow{
								.innerHeadRow{
									font-size: 16.6px;
								}

								.innerFootRow{
									font-size: 13.2px;
								}
							}

							.secondRow{
								font-size: 13.2px;
							}
						}
					}
				}
			}

			// Intro Section
			.introSection{
				.introLetter{
					width: 865px;

					.introTitle{
						h1{
							font-size: 46.4px;
						}
					}

					.introParagraph{
						p{
							font-size: 16.6px;
						}
					}

					.introQuotes{
						height: 36px;

						h2{
							font-size: 25.3px;
						}
					}
				}
			}

			// Welcome Section
			#section-1{
				#receiverLetter{
					height: 340px;

					.introTitle{
						width: 610px;
						margin-bottom: 18px;
					}

					.introParagraph{
						margin-bottom: 30.6px;
					}

					#welcomePara-1{
						height: 120px;
					}

					#welcomePara-2{
						height: 40px;
					}

					.introQuotes{
						margin-bottom: 26.6px;
					}

					#welcomeQuote-1{
						width: 115px;
					}

					
				}
			}

			// Services Section
			#section-2{
				#servicesLetter{
					height: 330px;
					
					.introTitle{
						margin-bottom: 20px;
					}

					.introParagraph{
						height: 37px;
						margin-bottom: 28px;
					}

					.introQuotes{
						margin-bottom: 28px;
					}

					#servicesList{
						th{
							font-size: 13.8px;
						}

						#column-1{
							.maskTitle{
								width: 70px;

								.maskedText{
									width: 70px;
								}
							}
						}
						#column-2{
							.maskTitle{
								width: 65px;

								.maskedText{
									width: 65px;
								}
							}
						}
						#column-3{
							.maskTitle{
								width: 165px;

								.maskedText{
									width: 165px;
								}
							}
						}
						#column-4{
							.maskTitle{
								width: 50px;

								.maskedText{
									width: 50px;
								}
							}
						}

						td{
							font-size: 9px;
						}
					}
				}
			}

			// Branding Cover
			#section-3{
				.nameSection{
					width: 235px;
				}
			}

			// Logos Carousel
			#section-4{
				.innerCarousel{
					.carouselTitle{
						width: 85px;
					}
				}
			}

			// Stationery Carousel
			#section-5{
				.innerCarousel{
					.carouselTitle{
						width: 140px;
					}
				}
			}

			// Brand Communications Cover
			#section-6{
				.nameSection{
					width: 540px;
				}
			}

			// Packaging Carousel
			#section-7{
				.innerCarousel{
					.carouselTitle{
						width: 390px;
					}
				}
			}

			// Uniforms Carousel
			#section-8{
				.innerCarousel{
					.carouselTitle{
						width: 330px;
					}
				}
			}

			// POS Carousel
			#section-9{
				.innerCarousel{
					.carouselTitle{
						width: 160px;
					}
				}
			}

			// Interiorism Carousel
			#section-10{
				.innerCarousel{
					.carouselTitle{
						width: 155px;
					}
				}
			}

			// Web Cover
			#section-12{
				.nameSection{
					width: 650px;
				}
			}

			// Lucky Carousel
			#section-13{
				.innerCarousel{
					.carouselTitle{
						width: 170px;
					}
				}
			}

			// Camila Carousel
			#section-14{
				.innerCarousel{
					.carouselTitle{
						width: 250px;
					}
				}
			}
		}
	}
}