// COLOURS
	$light-gray: #c9c9c9;
	$mid-gray: #97979b;
	$black: #06111a;

// RIGHT NAV BARS COLOURS
	$nav-black-active: rgba(6,17,26,1);
	$nav-black-deactive: rgba(6,17,26,0);
	$nav-light-gray-active: rgba(201,201,201,1);
	$nav-light-gray-deactive: rgba(201,201,201,0);
	$link-mid-gray-active: rgba(151,151,155,1);
	$link-mid-gray-deactive: rgba(151,151,155,0);